### Pandas data structures

Series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])
obj2

In [ ]:
obj2.index

In [ ]:
obj2['a']

In [ ]:
obj2['c'] = 6
obj2[['b','c','a']]

In [ ]:
obj2[obj2 > 5]

In [ ]:
obj2 * 2

In [ ]:
np.exp(obj2)

In [ ]:
'b' in obj2

In [ ]:
'e' in obj2

In [ ]:
sdata = {'Aero': 1560, 'Arcana': 1520, 'Scout': 1490, 'Bard': 1460}
obj3 = pd.Series(sdata)
obj3

In [ ]:
nicknames = ['Aero', 'Arcana', 'Bard', 'Destroyer']
obj4 = pd.Series(sdata, index=nicknames)
obj4

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj3 + obj4

In [ ]:
obj4.name = 'Character Levels'
obj4.index.name = 'Class'
obj4

In [ ]:
obj

In [ ]:
obj.index = ['a', 'c', 'f', 't']
obj

Dataframe

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['un', 'deux', 'trois', 'quatre', 'cinq', 'six'])
frame2

In [ ]:
frame2.columns

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.loc['trois']

In [ ]:
frame2.iloc[2]

In [ ]:
frame2['debt'] = 16.5
frame2

In [ ]:
frame2['debt'] = np.arange(6.)
frame2

In [ ]:
val = pd.Series([1.2, 1.8, 2.1], index=['deux', 'quatre', 'cinq'])
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = (frame2.state == 'Ohio')
frame2

In [ ]:
del frame2['eastern']

In [ ]:
frame2.columns

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:2],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

In [ ]:
frame3.index.name = 'year'
frame3.columns.name = 'state'
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

Index object

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
obj

In [ ]:
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
#index[1] = 'd'

In [ ]:
labels = pd.Index(np.arange(3))
labels

In [ ]:
obj2 = pd.Series([1.5, 2.5, 3.5], index=labels)
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3

In [ ]:
frame3.columns

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2002 in frame3.index

In [ ]:
dup_labels = pd.Index(['a', 'a', 'b', 'b'])
dup_labels

### Main features

Reindex

In [ ]:
obj = pd.Series([4.5, 7.2, -3.5, 2.4], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

In [ ]:
obj3.reindex(range(6), method='ffill')

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Alpha', 'Charlie', 'Delta'])
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
code = ['Alpha', 'Bravo', 'Charlie']
frame.reindex(columns=code)