In [ ]:
tup = 4, 5, 6

In [ ]:
tup

In [ ]:
nested_tup = (4, 5, 6), (7, 8)

In [ ]:
nested_tup

In [ ]:
tuple([4, 0, 2])

In [ ]:
tup = tuple('string')

In [ ]:
tup

In [ ]:
tup[3]

In [ ]:
tup = tuple(['foo', [1, 2], True])

In [ ]:
tup[2] = False

In [ ]:
tup[1].append(3)

In [ ]:
tup

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

In [ ]:
('foo', 'boo') * 4

In [ ]:
tup = 4, 5, 6

In [ ]:
a, b, c = tup

In [ ]:
b

In [ ]:
tup = 4, 5, (6, 7)

In [ ]:
a, b, (c, d) = tup

In [ ]:
d

In [ ]:
a, b = 1, 2

In [ ]:
b,a = a, b

In [ ]:
a

In [ ]:
seq = [(1, 2, 3), (4, 5, 6),(7, 8, 9)]

In [ ]:
for a, b, c in seq:
  print('a={0}, b={1}, c={2}'.format(a, b, c))

In [ ]:
val = 1, 2, 3, 4, 5

In [ ]:
a, b, *rest = val

In [ ]:
a, b

In [ ]:
rest

In [ ]:
a, b, *_ = val

In [ ]:
a, b, _

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)

In [ ]:
a.count(2)

In [ ]:
x = [4, None, 'foo']

In [ ]:
x.extend([7, 8 ,(2, 3)])

In [ ]:
x

In [ ]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [ ]:
b.sort(key=len)

In [ ]:
b

In [ ]:
import bisect

In [ ]:
c = [1, 2, 2, 3, 4, 7, 9]

In [ ]:
bisect.bisect(c, 2)

In [ ]:
bisect.bisect(c, 5)

In [ ]:
bisect.insort(c, 6)

In [ ]:
c

In [ ]:
some_list = ['foo', 'bar', 'baz']

In [ ]:
mapping = {}

In [ ]:
for i, v in enumerate(some_list):
  mapping[v] = i

In [ ]:
mapping

In [ ]:
seq1 = ['Un', 'Deux', 'Trois']
seq2 = ['One', 'Two', 'Three']

In [ ]:
zipped = zip(seq1, seq2)

In [ ]:
list(zipped)

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
  print('{0}: {1}, {2}'.format(i+1, a, b))

In [ ]:
zipped = zip(seq1, seq2)

In [ ]:
french, english = zip(*zipped)

In [ ]:
french

In [ ]:
english

In [ ]:
list(reversed(range(10)))

In [ ]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'An int'}

In [ ]:
list(d1.keys())

In [ ]:
list(d1.values())

In [ ]:
d1.update({'b': 'foo', 'c': 12})

In [ ]:
d1

In [ ]:
mapping = {}

In [ ]:
for key, value in zip(seq2, seq1):
  mapping[key] = value

In [ ]:
mapping

In [ ]:
mapping = dict(zip(range(5), reversed(range(5))))

In [ ]:
mapping

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [ ]:
by_letter = {}

In [ ]:
for word in words:
  letter = word[0]
  if letter not in by_letter:
    by_letter[letter] = [word]
  else:
    by_letter[letter].append(word)

In [ ]:
by_letter

In [ ]:
by_letter = {}
for word in words:
  by_letter.setdefault(word[0], []).append(word)

In [ ]:
by_letter

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
  by_letter[word[0]].append(word)

In [ ]:
by_letter

In [ ]:
hash('string')

In [ ]:
hash((1, 2, (3, 4)))

In [ ]:
hash((1, 2, [3, 4]))

In [ ]:
d = {}

In [ ]:
d[tuple([1, 2, 3])] = 5

In [ ]:
d

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [ ]:
[x.upper() for x in strings if len(x) > 2]

In [ ]:
{len(x) for x in strings}

In [ ]:
set(map(len, strings))

In [ ]:
{x : len(x) for x in strings}

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Camilo']]

In [ ]:
result = [name for names in all_data
          for name in names if name.count('e') >= 2]

In [ ]:
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
flattened = [x for tup in some_tuples
             for x in tup]

In [ ]:
flattened

In [ ]:
[[x for x in tup] for tup in some_tuples]

In [ ]:
import re

In [ ]:
def remove_punctuation(value):
  return re.sub('[!#?]', '', value)

In [ ]:
clean_funcs = [str.strip, remove_punctuation, str.title]

In [ ]:
states = ['Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [ ]:
def clean_strings(strings, funcs):
  result = []
  for val in strings:
    for func in funcs:
      val = func(val)
    result.append(val)
  return result

In [ ]:
clean_strings(states, clean_funcs)

In [ ]:
for x in map(remove_punctuation, states):
  print(x)

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
strings.sort(key = lambda x: len(set(list(x))))

In [ ]:
strings

In [ ]:
def add_nums(x, y):
  return x + y

In [ ]:
add_five = lambda y: add_nums(5, y)

In [ ]:
add_five(3)

In [ ]:
from functools import partial
add_five = partial(add_nums, 5)

In [ ]:
add_five(3)

In [ ]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [ ]:
for key in some_dict:
  print(key)

In [ ]:
dict_iterator = iter(some_dict)

In [ ]:
dict_iterator

In [ ]:
list(dict_iterator)

In [ ]:
def squares(n=10):
  print('Generate spuares from 1 to {0}'.format(n**2))
  for i in range(1, n+1):
    yield i ** 2

In [ ]:
gen = squares()

In [ ]:
gen

In [ ]:
for x in gen:
  print(x, end=' ')

In [ ]:
gen = (x ** 2 for x in range(100))

In [ ]:
gen

In [ ]:
sum(x ** 2 for x in range(100))

In [ ]:
dict((i, i ** 2) for i in range(5))

In [ ]:
import itertools

In [ ]:
first_letter = lambda x: x[0]

In [ ]:
names = ['Alan', 'Alex', 'Walter', 'White', 'Albert', 'James']

In [ ]:
for letter, name in itertools.groupby(names, first_letter):
  print(letter, list(name))

In [ ]:
def attempt_float(x):
  try:
    return float(x)
  except:
    return x

In [ ]:
attempt_float('1.2345')

In [ ]:
attempt_float('something')

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
  try:
    return float(x)
  except ValueError:
    return x

In [ ]:
attempt_float((1, 2))

In [ ]:
attempt_float('abc')

In [ ]:
def attempt_float(x):
  try:
    print(float(x))
  except (ValueError, TypeError):
    print(x)
  else:
    print('Success')
  finally:
    print('Done')

In [ ]:
attempt_float('3.4')

In [ ]:
attempt_float("something")

In [ ]:
def a(n):
  try:
    print('try')
    float(n)
    return
  except:
    print('except')
    return
  else:
    print('else')
    return
  finally:
    print('finally')

In [ ]:
a('ab')