In [ ]:
tup = 4, 5, 6

In [ ]:
tup

(4, 5, 6)

In [ ]:
nested_tup = (4, 5, 6), (7, 8)

In [ ]:
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
tuple([4, 0, 2])

(4, 0, 2)

In [ ]:
tup = tuple('string')

In [ ]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
tup[3]

'i'

In [ ]:
tup = tuple(['foo', [1, 2], True])

In [ ]:
tup[2] = False

TypeError: ignored

In [ ]:
tup[1].append(3)

In [ ]:
tup

('foo', [1, 2, 3], True)

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
('foo', 'boo') * 4

('foo', 'boo', 'foo', 'boo', 'foo', 'boo', 'foo', 'boo')

In [ ]:
tup = 4, 5, 6

In [ ]:
a, b, c = tup

In [ ]:
b

5

In [ ]:
tup = 4, 5, (6, 7)

In [ ]:
a, b, (c, d) = tup

In [ ]:
d

7

In [ ]:
a, b = 1, 2

In [ ]:
b,a = a, b

In [ ]:
a

2

In [ ]:
seq = [(1, 2, 3), (4, 5, 6),(7, 8, 9)]

In [ ]:
for a, b, c in seq:
  print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
val = 1, 2, 3, 4, 5

In [ ]:
a, b, *rest = val

In [ ]:
a, b

(1, 2)

In [ ]:
rest

[3, 4, 5]

In [ ]:
a, b, *_ = val

In [ ]:
a, b, _

(1, 2, [3, 4, 5])

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)

In [ ]:
a.count(2)

4

In [ ]:
x = [4, None, 'foo']

In [ ]:
x.extend([7, 8 ,(2, 3)])

In [ ]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [ ]:
b.sort(key=len)

In [ ]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [ ]:
import bisect

In [ ]:
c = [1, 2, 2, 3, 4, 7, 9]

In [ ]:
bisect.bisect(c, 2)

3

In [ ]:
bisect.bisect(c, 5)

5

In [ ]:
bisect.insort(c, 6)

In [ ]:
c

[1, 2, 2, 3, 4, 6, 7, 9]

In [ ]:
some_list = ['foo', 'bar', 'baz']

In [ ]:
mapping = {}

In [ ]:
for i, v in enumerate(some_list):
  mapping[v] = i

In [ ]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [7]:
seq1 = ['Un', 'Deux', 'Trois']
seq2 = ['One', 'Two', 'Three']

In [ ]:
zipped = zip(seq1, seq2)

In [ ]:
list(zipped)

[]

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
  print('{0}: {1}, {2}'.format(i+1, a, b))

1: Un, One
2: Deux, Two
3: Trois, Three

In [ ]:
zipped = zip(seq1, seq2)

In [ ]:
french, english = zip(*zipped)

In [ ]:
french

('Un', 'Deux', 'Trois')

In [ ]:
english

('One', 'Two', 'Three')

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [1]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'An int'}

In [2]:
list(d1.keys())

['a', 'b', 7]

In [3]:
list(d1.values())

['some value', [1, 2, 3, 4], 'An int']

In [4]:
d1.update({'b': 'foo', 'c': 12})

In [5]:
d1

{'a': 'some value', 'b': 'foo', 7: 'An int', 'c': 12}

In [6]:
mapping = {}

In [8]:
for key, value in zip(seq2, seq1):
  mapping[key] = value

In [9]:
mapping

{'One': 'Un', 'Two': 'Deux', 'Three': 'Trois'}

In [10]:
mapping = dict(zip(range(5), reversed(range(5))))

In [11]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [12]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [13]:
by_letter = {}

In [15]:
for word in words:
  letter = word[0]
  if letter not in by_letter:
    by_letter[letter] = [word]
  else:
    by_letter[letter].append(word)

In [16]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [19]:
by_letter = {}
for word in words:
  by_letter.setdefault(word[0], []).append(word)

In [20]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [22]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
  by_letter[word[0]].append(word)

In [23]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [24]:
hash('string')

8063966281868449460

In [26]:
hash((1, 2, (3, 4)))

-2725224101759650258

In [27]:
hash((1, 2, [3, 4]))

TypeError: ignored

In [28]:
d = {}

In [29]:
d[tuple([1, 2, 3])] = 5

In [30]:
d

{(1, 2, 3): 5}

In [31]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [32]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [36]:
{len(x) for x in strings}

{1, 2, 3, 4, 6}

In [37]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [39]:
{x : len(x) for x in strings}

{'a': 1, 'as': 2, 'bat': 3, 'car': 3, 'dove': 4, 'python': 6}

In [40]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Camilo']]

In [43]:
result = [name for names in all_data
          for name in names if name.count('e') >= 2]

In [44]:
result

['Steven']

In [45]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [46]:
flattened = [x for tup in some_tuples
             for x in tup]

In [47]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
import re

In [50]:
def remove_punctuation(value):
  return re.sub('[!#?]', '', value)

In [53]:
clean_funcs = [str.strip, remove_punctuation, str.title]

In [56]:
states = ['Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [54]:
def clean_strings(strings, funcs):
  result = []
  for val in strings:
    for func in funcs:
      val = func(val)
    result.append(val)
  return result

In [57]:
clean_strings(states, clean_funcs)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [58]:
for x in map(remove_punctuation, states):
  print(x)

Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [59]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [60]:
strings.sort(key = lambda x: len(set(list(x))))

In [61]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [62]:
def add_nums(x, y):
  return x + y

In [64]:
add_five = lambda y: add_nums(5, y)

In [65]:
add_five(3)

8

In [72]:
from functools import partial
add_five = partial(add_nums, 5)

In [73]:
add_five(3)

8

In [74]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [75]:
for key in some_dict:
  print(key)

a
b
c

In [81]:
dict_iterator = iter(some_dict)

In [80]:
dict_iterator

In [82]:
list(dict_iterator)

['a', 'b', 'c']

In [85]:
def squares(n=10):
  print('Generate spuares from 1 to {0}'.format(n**2))
  for i in range(1, n+1):
    yield i ** 2

In [86]:
gen = squares()

In [88]:
gen

In [89]:
for x in gen:
  print(x, end=' ')

Generate spuares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [90]:
gen = (x ** 2 for x in range(100))

In [91]:
gen

In [92]:
sum(x ** 2 for x in range(100))

328350

In [93]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [94]:
import itertools

In [95]:
first_letter = lambda x: x[0]

In [101]:
names = ['Alan', 'Alex', 'Walter', 'White', 'Albert', 'James']

In [103]:
for letter, names in itertools.groupby(names, first_letter):
  print(letter, list(names))

A ['Alan', 'Alex']
W ['Walter', 'White']
A ['Albert']
J ['James']